<div class="row">
  <div class="card-panel">
    <div class="card-content">
      <div class="row">
        <h5>Detalle de Gastos Mensual</h5>
      </div>
      <div class="row">
        <div id="detalleInf"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
        <div class="row">
          <h5 class="col s12">Detalle</h5>
        </div>
      </div>
    <div id="gastosTable"></div>
    </div>
  </div>

</div>
