<footer class="page-footer  grey darken-3 mainContent">
  <div class="footer-copyright row">
    <div class="col s12 m5">
      @2017 Ricardo
      <br/>
      Todos los derechos reservados
    </div>
    <div class="col s12 m5">
      <br class="hide-on-med-and-up "/>
      <a href="#!" class="white-text termsAndConditions">
        Terminos y Condiciones
      </a>
    </div>
    <div class="col s12 m2">
      <br class="hide-on-med-and-up "/>
      111111-1111 <br/>
      Ecuador, Quito, ECU
    </div>
  </div>
</footer>
