<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
        <h5>Categorias</h5>
        <form>
          <div class="row">
            <label for="categoria">Categoria</label>
            <select id="categoria">
              <option>Telefono</option>
              <option>Cursos</option>
              <option>Conbustible</option>
            </select>

          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="" id="subcategoria"
                     type="text"
                     name="subcategoria"
                     class="validate">
              <label for="competidorName">Subcategoria</label>
            </div>
          </div>

          <div class="row">
            <a class="btn grey darken-3">
              Agregar Tipo Gasto
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
